<header class="navbar">
  <div class="container">
    <div class="logo">
    <img src="images/logo2.1.png" alt="Vision Guard">
      <span>VISION GUARD</span>
    </div>

    <nav class="menu">
      <a href="#">Inicio</a>
      <a href="#services">¿Qué ofrecemos?</a>
      <a href="#quotation">Cotización</a>
      <a href="#contact">Contáctanos</a>
          <div class="nav-home">
                <a (click)="irLogin()">
                     <span class="material-icons">home</span>
                </a>
          </div>
    </nav>
  </div>
</header>
